{% extends 'base.html' %}

{% block content %}
<div class="container text-center py-5">
    <h1 class="fw-bold" style="color: #630E20; font-size: 3rem;">Bienvenido a Aviara</h1>
    <p class="lead text-muted">La mejor gestión para tu granja avícola.</p>
    <div class="mt-4">
        {% if user.is_authenticated %}
            <a href="{% url 'perfil_cliente' %}" class="btn btn-lg px-5 text-white" style="background-color: #630E20; border-radius: 10px;">Mi cuenta</a>
            <a href="{% url 'catalogo' %}" class="btn btn-lg px-5 ms-3" style="border: 2px solid #630E20; color: #630E20; border-radius: 10px;">Ver catálogo</a>
        {% else %}
            <a href="{% url 'login' %}" class="btn btn-lg px-5 text-white" style="background-color: #630E20; border-radius: 10px;">Ingresar al Sistema</a>
            <a href="{% url 'catalogo' %}" class="btn btn-lg px-5 ms-3" style="border: 2px solid #630E20; color: #630E20; border-radius: 10px;">Ver catálogo</a>
            <a href="{% url 'registro' %}" class="btn btn-lg px-5 ms-3" style="border: 2px solid #630E20; color: #630E20; border-radius: 10px;">Registrarse</a>
        {% endif %}
    </div>
</div>
{% endblock %}
